.signup-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/background.jpg'); /* אופציונלי */
    background-size: cover;
    background-position: center;
  }
  
  .signup-card {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 12px;
  }
  
 
  .p-inputtext {
    border: 1px solid #ccc !important;
    border-radius: 6px !important;
  }
  
  
  .p-password input {
    border: 1px solid #ccc !important;
    border-radius: 6px !important;
  }
  
  
  
  .signup-card h2 {
    text-align: center;
    color: #00c6ff;
    margin-bottom: 1rem;
  }
  
  .p-field label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  .p-inputtext,
  .p-password input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    border: none;
    background-color: #ffffff10;
    color: #fff;
  }
  
  .p-inputtext:focus,
  .p-password input:focus {
    outline: 2px solid #00c6ff;
  }
  
  .p-dropdown {
    width: 100%;
  }
  
  .p-button {
    margin-top: 1rem;
    width: 100%;
    border-radius: 8px;
  }
  
  .login-link {
    margin-top: 1rem;
    text-align: center;
    color: #ddd;
  }
  
  .login-link button {
    background: none;
    border: none;
    color: #00c6ff;
    cursor: pointer;
    font-weight: bold;
  }
  